# Ignorar variáveis de ambiente
.env
.env.*

# Ignorar logs
/log/*
!/log/.keep

# Ignorar arquivos temporários
/tmp/*
!/tmp/.keep

# Ignorar banco de dados SQLite (não usamos mas por garantia)
*.sqlite3
*.sqlite3-journal

# Ignorar dependências do sistema
/vendor/bundle